/* // ---------- script général------------- */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    scroll-behavior: smooth;
    transition: 0.5s ease;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {

    font-size: 16px;
}

h2 {
    margin: 5rem;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -1px;
}

/* ------------script navbar ------------- */
header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .container {
        margin: 1rem;

        .element {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 2rem;

            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                margin-left: 10px;
                letter-spacing: -0.5px;
                text-shadow: 1px 1px 1px black;
            }

            ul {
                display: flex;

                a {
                    margin: 0 2rem;

                    &:hover {
                        transition: 0.3s ease;
                        color: rgb(0, 0, 0);
                    }
                }
            }

            .hamburger {
                display: none;
                cursor: pointer;
                z-index: 2;

                @media (max-width:768px) {
                    display: block;
                    margin: 10px;
                }

                .bar {
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    -webkit-transition: all 0.3 ease-in-out;
                    transition: all 0.4s ease-in-out;
                    background-color: rgb(255, 255, 255);
                }
            }
        }
    }
}

/* poisiton fixed du header pendant le scroll */

header.scroll {
    height: 50px;
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.9);
    border-bottom: 1px solid #d1cdcd;
    margin: 0;
    padding: 0;

    .container {
        margin: 0;
    }

    .element {
        align-items: center;
        margin: 0;
        padding: 0;

    }
}

/* style du header quand la fenetre fait moins de 768px et comportement du bouton hamburger*/

@media (max-width:768px) {

    .active .bar:nth-child(1) {
        transform: rotate(45deg) translateY(11px);
    }

    .active .bar:nth-child(2) {
        opacity: 0;
    }

    .active .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
    }

    .nav.active {
        background-color: rgba(0, 0, 0, 0.9)
    }

    .nav {
        position: absolute;
        padding: 5rem;
        gap: 3rem;
        left: 0;
        right: 0;
        top: -100vh;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-bottom: 1px solid black;
        z-index: 2;

        a {
            margin: 10px;
        }
    }

    .nav.active {
        top: -15px;

    }
}


/* ------------script accueil ------------- */

#accueil {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.3) 100%), url(../image/paysage-montagne-montagne-arriere-plan_871881-661.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;

    h1,
    p {
        text-shadow: 1px 1px 5px #000000;
        color: aliceblue;
        text-align: center;
    }

    h1 {
        animation-duration: 2s;
        animation-name: titre_haut;
        animation-fill-mode: both;
    }

    p {
        animation-duration: 2s;
        animation-name: titre_bas;
        animation-fill-mode: both;
    }

    .flecheBlanche {

        width: 100px;
        height: 100px;
        animation-duration: 2s;
        animation-name: fleche;
        animation-fill-mode: both;

        img {
            rotate: 90deg;
        }
    }
}

@keyframes fleche {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(200px);
    }
}

@keyframes titre_haut {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes titre_bas {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}

/* ------------script presentation ------------- */

#presentation {

    .container-presentation {
        max-width: 1400px;
        margin: 5rem 10rem;
        padding-bottom: 2rem;

        .introduction {
            margin: 5rem 15rem;
        }

        .container {
            margin: 10rem 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .group {
                width: 30rem;
                text-align: center;
                border-radius: 2rem;
                margin: 2rem;
                padding: 1rem;

                p {
                    text-align: center;
                }

                div {


                    padding: 1rem;
                    border-radius: 50%;

                    img {


                        height: 10rem;

                        padding: 1rem;
                    }
                }

            }
        }
    }

    .logoTechno {
        margin: 0;

        h3 {
            text-align: center;
            margin-bottom: 5rem;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 600;
        }

        text-transform: uppercase;

        font-size: 1rem;
        font-family: Arial,
        Helvetica,
        sans-serif;
        font-weight: 700;
        flex-wrap: wrap;

        .container-logo {
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-wrap: wrap;
            margin: 1rem 1rem;
            gap: 20px;

            img {
                animation-name: logo;
                animation-duration: 2s;
                height: 75px;
            }
        }

        .logo {
            animation-name: logo;
            animation-duration: 2s;
            transition: 0.5s;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}


@media (max-width:768px) {
    #presentation {
        .container-presentation {
            margin: 5rem 0;

            .introduction {
                margin: 5rem 2rem;
            }

            .container {
                margin: 10rem 0;
            }

            .logoTechno {
                margin: 0;
            }
        }
    }
}

/* ------------script téléchargement ------------- */

#cv {
    color: white;
    display: flex;
    height: 250px;
    background-image: url(../image/bureau.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        text-transform: uppercase;
        letter-spacing: -1px;
        font-family: sans-serif;
        font-weight: 800;
    }

    .telechargement {
        padding: 2rem 4rem;
        border-radius: 1rem;
        background-color: rgba(253, 253, 253, 0.55);
        box-shadow: 1px 1px 10px white;

        a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: -1px;
            font-family: sans-serif;
            font-weight: 800;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 1px 1px 10px rgb(0, 0, 0);

            a {
                color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    #cv {
        height: 300px;
        justify-content: space-around;
        background: url(../image/telechargement_portable.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2 {
        font-size: 20px;
        margin: 0 1rem 2rem 1rem;
    }

    .telechargement {
        margin: 1rem;
    }
}

/* ------------script carrousel ------------- */

#mesTravaux {
    position: relative;
    text-align: center;
    margin-top: 5rem;

    .carroussel {
        position: relative;
        margin: 5rem auto;
        width: 100%;
        max-width: 800px;
        height: 500px;

        .navigation {
            color: white;
            font-size: 3rem;
            padding: 2rem;
            cursor: pointer;

            .gauche {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: scaleY(2);
                background-color: rgba(0, 0, 0, 0.5);
                padding: 0 2rem;
                border-radius: 100%;
                transition: 0.5s ease;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }

            .droite {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: scaleY(2);
                background-color: rgba(0, 0, 0, 0.5);
                padding: 0 2rem;
                border-radius: 100%;
                transition: 0.5s ease;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }

        .contenu_carroussel {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            scroll-behavior: smooth;
            border-radius: 20px;

            .contenu_img {
                min-width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


/* ------------script contact ------------- */

#contact {
    text-align: center;

    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;

    form {
        background-color: #F0F0F0;

        .container-input {
            width: 100%;

            label,
            input,
            textarea {
                display: inline-block;
                width: 80%;
                border: none;
                background-color: rgba(255, 255, 255, );
                outline: none;
                border-radius: 2px;
                margin: 0 auto;
                padding: 1rem;
            }

            label {
                padding-top: 2rem;
            }

            input,
            textarea {
                box-shadow: 1px 1px 10px white;
                margin: 2rem;
                resize: none;
            }

            textarea {
                padding: 2rem;
            }
        }

        .button {
            padding: 2rem;

            input {
                border: none;
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: -2px;
                padding: 1rem;
                border-radius: 10px;
                box-shadow: 1px 1px 10px white;
                transition: 0.3s ease;

                &:hover {
                    box-shadow: 0 0 0 black;
                }
            }
        }
    }
}

@media (max-width:768px) {
    #contact {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

footer {
    background: linear-gradient(#000000c5, #000000);
    width: 100%;
    height: 100%;
    text-align: center;

    p {
        color: white;
    }

    .containerFooter {

        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logosFooter {
            margin: 5rem 0;
            transition: none;

            .logoGithub,
            .logoLinkedin {
                margin: 0 1rem;

                img {
                    border-radius: 10px;
                    width: 3.5rem;
                    background-color: #F0F0F0;
                    box-shadow: 1px 1px 15px white;

                    &:hover {

                        box-shadow: 1px 1px 15px rgb(0, 0, 0);
                    }
                }
            }
        }

        .liensFooter {
            ul {
                display: flex;
              
                margin-bottom: 1rem;
               padding-left: 0;
                li {
                    padding: 1rem;
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: white;
                        letter-spacing: -0.5px;

                        &:hover {
                            color: rgb(150, 147, 147);
                        }
                    }
                }
            }
        }
    }
    p {
        padding: 2rem 0;
        text-align: center;
    }
}

@media (max-width:600px) {
    ul{
        flex-direction: column;
       li{
            margin: 0.5rem 0;
        }
    }
}